@import 'tailwindcss';

/* ================================ Variables ================================ */
@theme {
    /* Colors */
    --color-primary: #eeeeee;
    --color-secondary: #bbbbbb;
    --color-tertiary: #fffef7;
    
    /* Fonts */
    --font-lucy: lucy;
    --font-kugi: kugi;

    /* Font Sizes */
    --uber: 60px;
}

@font-face {
    font-family: lucy;
    src: url(./fonts/lucy-said-ok-personal-use.italic.ttf);
}

@font-face {
    font-family: kugi;
    src: url(./fonts/kugile.regular.ttf);
}

/* ================================ Base styles ================================ */

body {
    @apply bg-tertiary;
}

section {
    @apply max-w-screen-md w-full mx-auto p-5;
}

/* ================================ All Styles ================================ */

.hero {
    @apply bg-center bg-no-repeat bg-cover h-screen relative text-tertiary flex flex-col justify-center items-center;
    background-image: url(../media/hero-temp.jpg) !important;  

    &::before {
        @apply content-[''] absolute top-0 left-0 w-full h-full bg-black/50;
    }
}

.hero__container {
    @apply relative z-2 flex flex-col items-center justify-center;
}

.hero__date {
    @apply text-[160px] font-lucy leading-none;
}

.hero__title {
    @apply text-4xl font-thin text-center;
}


/* Form Section */
.form__title {
  @apply text-2xl font-semibold mb-6 text-center text-gray-800;
}

.form__container {
  @apply max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md space-y-4;
}

.form__group {
  @apply flex flex-col space-y-2;

  &--nume {
    
  }

  &--venire {
    @apply space-y-2;
  }

  &--bauturi {
    @apply space-y-2;
  }

  &--nota {
    @apply space-y-2;
  }
}

.form__label {
  @apply font-medium text-gray-700;
}

.form__input {
  @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary;
}

.form__radio-label,
.form__checkbox-label {
  @apply flex items-center space-x-2;
}

.form__radio,
.form__checkbox {
  @apply accent-primary;
}

.form__textarea {
  @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary;
}

.form__submit {
  @apply bg-primary text-white font-semibold py-2 px-4 rounded hover:bg-secondary transition-colors;
}
